h5 {
    font-weight: 300;
    color: grey;
    font-size: 14px;
    margin-left: 35px;
    margin-bottom: 15px;

}

button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    font-weight: bolder;

}

button:after {
    content: "";
    display: block;
    border-bottom: 1px solid black;

}

.banner {
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.1);
    /* transition: transform 0.1s ease-in; */
}

.banner img {
    min-width: 300px;
    min-height: 200px;
    width: 100%;
}

.houseInfo {
    margin: 0 30px;
    border-bottom: 1px solid lightgray;

}

.houseInfo h2 {
    font-weight: 500;
}

.houseInfo h3 {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 17px;
}

.instructions {
    margin: 0 30px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.instructions h4 {
    font-weight: 500;
    padding: 15px 0;
    margin-left: 10px;

}

.iconInfo {
    display: flex;
    align-items: center;
}

.about {
    margin: 0 30px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.about h1 {
    font-size: 17px;
    font-weight: normal;
    padding-bottom: 20px;
}

.showMore {
    display: flex;
    align-items: center;
}


.reviews {
    margin: 0 30px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}

.dogParks {
    margin: 0 30px;
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
}


/* Mobile S */
@media(max-width: 480px) {
    /* 
    img{
        width: 100%;
        height: 200px;
        text-align: center;
    }

    h2{
        padding-left: 30px;
    } */


}

/* Medium */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    /* CSS rules for Medium screens */
}

/* Large */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* CSS rules for Large screens */
}

/* Tablet */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* CSS rules for Tablet screens */
}

/* Laptop */
@media only screen and (min-width: 1201px) and (max-width: 1440px) {
    /* CSS rules for Laptop screens */
}

/* Laptop Large */
@media only screen and (min-width: 1441px) {
    /* CSS rules for Laptop Large screens */
}

/* Mobile S width 320  height 213
Medium 375 / 250
Large 425 / 283
Tablet 768 / 368 
laptop 1024 / 496 40px
laptop L  1440/ 584 80px padding on the sides
*/

/* img{
    min-width: 300px;
        min-height: 200px;
        width: 100%;
        justify-content: center;
        padding: 40px;
} */
/* .airbnbInfo img{
                min-width: 300px;
                min-height: 200px;
                width: 100%;
        } */