* {
    margin: 0;
}

h5 {
    font-weight: 300;
    color: grey;
    font-size: 14px;
    margin-left: 35px;
    margin-bottom: 15px;
}

.houseDescrip {
    border-top: 1px solid lightgray;
    margin-left: 30px;
}

.houseDescrip h1 {
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
}

.feedback {
    display: flex;
    justify-content: space-between;
}

.feedback h2 {
    font-size: 15px;
    color: black;
    font-weight: 400;
    margin: 0 10px;
}

.info {
    display: flex;
}

.iconInfo {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.shareInfo {
    display: flex;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    height: 35vh;
}

.banner img {
    border-radius: 10px;
    margin: 10px;
}

.mainContent {
    margin-left: 30px;
    padding: 20px 0;
}

.houseInfo {
    border-bottom: 1px solid lightgray;
}

.houseInfo h2 {
    font-weight: 500;
    font-size: 25px;
    color: black;
}

.houseInfo h3 {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 17px;
}

.instructions {
    border-bottom: 1px solid lightgray;
    padding: 15px 0;
}

.instructions h4 {
    font-weight: 500;
    padding: 15px 0;
    margin-left: 10px;

}

.about {
    border-bottom: 1px solid lightgray;
    padding-top: 25px;
    padding-bottom: 15px;
}

.about h1 {
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
    line-height: 1.5;
}

.showMore {
    display: flex;
    align-items: center;
}

.showMoreBtn {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
}

.amenities {
    padding: 15px 0;
    border-bottom: 1px solid lightgray;
}

.amenities h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 25px;
    color: black;
}

.amenities h4 {
    font-weight: 300;
    padding: 15px 0;
    margin-left: 10px;
}

.showAmenties {
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    text-align: center;
}


.showAmentiesBtn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 15px 0;
    font-size: 17px;
    text-align: center;
    font-weight: 500;
}

.location {
    padding: 20px 0;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}


.location h1,
.hostName h1 {
    font-weight: 500;
    font-size: 25px;
}

.address h2 {
    font-weight: 600;
    text-decoration: underline;
}

.location h2 {
    font-weight: 600;
    text-decoration: underline;
    font-size: 16px;
    color: black;
    margin-top: 5px;
}

.location h3 {
    padding: 0;
    margin-top: 0;
    font-weight: normal;
}

.gettingAround,
.neighborhood,
.aboutHost {
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 1.4;
    text-align: justify;
}

.host {
    border-bottom: 1px solid lightgray;

}

.hostInfo {
    display: flex;
}

.hostImg {
    margin-right: 15px;
}

.hostImg img {
    border-radius: 40px;
}

.hostName h1 {
    margin-bottom: 0;
}

.hostName h3 {
    font-size: 15px;
    font-weight: 400;
    margin-left: 18px;
}

.hostResponse h1 {
    font-size: 18px;
    font-weight: 600;
}

.hostResponse {
    margin-bottom: 30px;
}

.aboutHost h3 {
    font-weight: normal;
    margin-top: 15px;
}

.hostRes {
    font-weight: normal;
}

.dogParks {
    border-bottom: 1px solid lightgray;
    display: flex;
    overflow-x: scroll;
    margin: 15px 0;
}

@media(min-width: 749px) {
    .airbnbInfo {
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    .banner {
        border-radius: 20px;
        overflow: hidden;
        height: 350px;
    }

}

@media(max-width: 749px) {

    .info h2,
    h1 {
        font-size: 14px;
    }

    .shareInfo {
        display: none;
    }
}