.card{
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.1);
    transition: transform 0.1s ease-in;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.06);
}

.card img{
    min-width: 300px;
    min-height: 200px;
    width: 100%;
}

.cardInfo{
    margin-top: -5px ;
    border-radius: 10px;
    padding: 20px;
    border: 1;
}

.cardInfo h2{
    font-size: 16px;
}

.cardInfo h3 {
    font-size: 14px;
    color: darkgray;
    font-weight: 400;
    margin: 5px auto;
}

.cardInfo h4{
    font-weight: 600;
}