.parkCard {
    margin: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 0.1);
    cursor: pointer;
}

.parkCardInfo {
    min-width: 268.75px;
    max-height: 179.25px;
    padding: 10px;
}

.dogIcon {
    margin-right: 15px;
}

.parkName h1 {
    font-size: 18px;
    font-weight: 700;
    margin: 5px 0;
}

.parkNeighborhood h3 {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    padding: 2px 0;
}

.parkAddress h3 {
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}

.dogRunsType h3 {
    font-size: 16px;
    margin: 10px 0;
}

.runType {
    font-style: italic;
    font-size: 15px;
    font-weight: 500;
}


.parkCardInfo,
.parkName,
.parkAddress,
.dogRunsType,
.parkNotes,
.parkNeighborhood {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.parkNotes h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
}

.note {
    font-size: 17px;
    font-weight: 700;

}